    <div id="page-wrapper">


      <!-- Banner -->
        <section id="banner">

          <div class="inner">

            <p>お店の情報を入力してください。</p>
            <footer>
              <ul class="buttons vertical">
               <%= form_tag('/shops/create', method: :post) do %>
                  <li>評価：<input placeholder="" type="text" name="name"></li>
                  <li>L字テーブル：<input placeholder="" type="text" name="name"></li>
                  <li>ジャンル：<input placeholder="" type="text" name="name"></li>
                  <li>TEL：<input placeholder="" type="text" name="name"></li>
                  <li>住所：<input placeholder="" type="text" name="name"></li>
                  <li>交通手段：<input placeholder="" type="text" name="name"></li>
                  <li>営業時間：<input placeholder="" type="text" name="name"></li>
                  <li>定休日：<input placeholder="" type="text" name="name"></li>
                  <li>予算：<input placeholder="" type="text" name="name"></li>
                  <li>カード：<input placeholder="" type="text" name="name"></li>
                  <li>サービス料・チャージ料：<input placeholder="" type="text" name="name"></li>
                  <li><input type="submit" value="登録する"></li>
                <% end %>
              </ul>
            </footer>

          </div>

        </section>

      <!-- Footer -->
        <footer id="footer">

          <ul class="copyright">
            <li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
          </ul>

        </footer>

    </div>


    <!-- Scripts -->
      <script src="assets/jquery.min.js"></script>
      <script src="assets/jquery.dropotron.min.js"></script>
      <script src="assets/jquery.scrolly.min.js"></script>
      <script src="assets/jquery.scrollgress.min.js"></script>
      <script src="assets/skel.min.js"></script>
      <script src="assets/util.js"></script>
      <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
      <script src="assets/main.js"></script>
