    <div id="page-wrapper">


      <!-- Banner -->
        <section id="banner">

          <div class="inner">

            <p>お店を登録しました</p>
            <footer>
              <ul class="buttons vertical">
               <%= form_tag('/', method: :get) do %>
                  <li><input type="submit" value="トップ画面に戻る"></li>
                <% end %>
              </ul>
            </footer>

          </div>

        </section>

      <!-- Footer -->
        <footer id="footer">

          <ul class="copyright">
            <li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
          </ul>

        </footer>

    </div>


    <!-- Scripts -->
      <script src="assets/jquery.min.js"></script>
      <script src="assets/jquery.dropotron.min.js"></script>
      <script src="assets/jquery.scrolly.min.js"></script>
      <script src="assets/jquery.scrollgress.min.js"></script>
      <script src="assets/skel.min.js"></script>
      <script src="assets/util.js"></script>
      <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
      <script src="assets/main.js"></script>
