    <div id="page-wrapper">


      <!-- Banner -->
        <section id="banner">

          <!-- Two -->
            <section class="wrapper style1 container special">
              <h3>口コミするお店を選んでください<h3>

              <div class="row">
                <% @shops.each do |shop| %>
                <div class="4u 12u(narrower)">
                  <section>
                    <span class="icon featured fa-check"></span>
                    <header>
                      <h3><%= shop.name %></h3>
                    </header>
                    <p>
                      <ul>
                      <li>
                        評価：⭐️⭐️⭐️⭐️
                      </li>
                      <li>
                        口コミ：５８件️
                      </li>
                      <li>
                        <ul class="buttons vertical">
                         <%= form_tag("/shops/#{ shop.id }/reviews/new", method: :get) do %>
                            <li><input type="submit" value="口コミする"></li>
                          <% end %>
                      </li>
                      </ul>
                    </p>
                  </section>
                </div>
              <% end %>


              </div>
            </section>



          </div>

        </section>




      <!-- Footer -->
        <footer id="footer">

          <ul class="copyright">
            <li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
          </ul>

        </footer>

    </div>


    <!-- Scripts -->
      <script src="assets/jquery.min.js"></script>
      <script src="assets/jquery.dropotron.min.js"></script>
      <script src="assets/jquery.scrolly.min.js"></script>
      <script src="assets/jquery.scrollgress.min.js"></script>
      <script src="assets/skel.min.js"></script>
      <script src="assets/util.js"></script>
      <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
      <script src="assets/main.js"></script>
