    <div id="page-wrapper">


      <!-- Banner -->
        <section id="banner">

          <div class="inner">

            <p>リゴレットオーシャンズクラブ</p>
            <footer>
              <ul class="buttons vertical">
                <li>
                  評価：⭐️⭐️⭐️⭐️
                </li>
                <li>
                  口コミ：５８件️
                </li>
                <li>
                  L字テーブル：あり️
                </li>
                <li>ジャンル：イタリアン</li>
                <li>TEL：03-1111-2222</li>
                <li>住所：東京都渋谷区道玄坂１−１−１◯ビル３F</li>
                <li>交通手段：渋谷駅徒歩５分</li>
                <li>営業時間：17:00-2:00</li>
                <li>定休日：月曜日</li>
                <li>予算：5000円</li>
                <li>カード：VISA,MASTER</li>
                <li>サービス料・チャージ料：15%</li>
              </ul>
            </footer>

          </div>

        </section>

      <!-- Footer -->
        <footer id="footer">

          <ul class="copyright">
            <li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
          </ul>

        </footer>

    </div>


    <!-- Scripts -->
      <script src="assets/jquery.min.js"></script>
      <script src="assets/jquery.dropotron.min.js"></script>
      <script src="assets/jquery.scrolly.min.js"></script>
      <script src="assets/jquery.scrollgress.min.js"></script>
      <script src="assets/skel.min.js"></script>
      <script src="assets/util.js"></script>
      <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
      <script src="assets/main.js"></script>
