<!DOCTYPE html>
<html>
<head>
  <title>Goals</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Header -->
    <header id="header" class="alt">
      <h1 id="logo"><a href="index.html">GOAL's</span></a></h1>
      <nav id="nav">
        <ul>
          <li class="current"><a href="index.html">口コミ投稿</a></li>
          <li class="current"><a href="index.html">女性プロフ登録</a></li>
          <li class="current"><a href="index.html">お店を登録</a></li>

<!--              <li class="submenu">
            <a href="#">Layouts</a>
            <ul>
              <li><a href="left-sidebar.html">Left Sidebar</a></li>
              <li><a href="right-sidebar.html">Right Sidebar</a></li>
              <li><a href="no-sidebar.html">No Sidebar</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li class="submenu">
              </li>
            </ul>
          </li>
-->              <li><a href="#" class="button special">Sign Up</a></li>
        </ul>
      </nav>
    </header>


</head>
<body>

<%= yield %>

</body>
</html>
