<!DOCTYPE html>
<html>
<head>
  <title>Goals</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Header -->
    


</head>
<body>
<header id="header" class="alt">
  <% if controller.controller_name == "users" %>
  <% else %>
    <h1 id="logo"><a href="index.html">GOAL's</span></a></h1>
    <nav id="nav">
      <ul>
        <li class="current"><a href="/reviews">口コミ投稿</a></li>
        <li class="current"><a href="/womans">女性プロフ登録</a></li>
        <li class="current"><a href="/shops/add">お店を登録</a></li>

            <li><a href="/users/sign_up" class="button special">Sign Up</a></li>
      </ul>
    </nav>
  <% end %>
</header>
<%= yield %>

</body>
</html>
